:root {
  /* FONTS */
  --primary-fnt: "Poppins", sans-serif;

  /* COLORS */
  --primary-clr: #bc8afc;
}

/* -------------------- RESET -------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-fnt);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* -------------------- UTILITIES -------------------- */

.btn--purple {
  background-color: var(--primary-clr);
  color: black;
  padding: 8px 20px;
  border-radius: 5px;
}

.btn--purple:hover {
  background-color: #d3b4ff;
}

/* -------------------- MOBILE HEADER -------------------- */
.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 20px;
  z-index: 10;
}

.mobile-navigation {
  position: fixed;
  height: 100vh;
  width: 100%;
  transform: translateX(-100%);
}

.mobile-header__icon {
  font-size: 2rem;
  color: white;
}

@media (min-width: 1024px) {
  .mobile-header {
    display: none;
  }
}

/* -------------------- DESKTOP HEADER -------------------- */

.desktop-header {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  padding: 25px 20px;
  z-index: 10;
}

.desktop-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
}

.desktop-navigation__list {
  display: flex;
  gap: 50px;
}

.desktop-navigation__anchor {
  color: white;
  font-weight: 300;
}

.signin-btn {
  font-size: 1.1rem;
}

@media (min-width: 1024px) {
  .desktop-header {
    display: inline-block;
  }
}

@media (min-width: 1400px) {
  .desktop-header__inner {
    max-width: 1250px;
  }

  .desktop-navigation__anchor {
    font-size: 1.2rem;
  }

  .signin-btn {
    font-size: 1.3rem;
  }

  .desktop-header__logo {
    width: 130px;
  }
}

/* -------------------- HERO SECTION -------------------- */
.hero-section {
  background: linear-gradient(144deg, #190422 21.1%, #190422 102.96%);
  height: 800px;
  position: relative;
}

.hero-section__inner {
  padding: 100px 20px 0 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  max-width: 367px;
}

.hero-text__heading,
.hero-text__caption {
  color: white;
}

.hero-text__heading {
  font-size: 2.3rem;
  font-weight: 500;
}

.hero-text__caption {
  font-weight: 300;
}

.getstarted-btn {
  display: inline-block;
  margin-top: 10px;
}

.hero-section__image--mobile {
  max-width: 280px;
  align-self: center;
}

.hero-section__image--desktop {
  display: none;
}

.stats {
  position: absolute;
  bottom: -310px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  width: 92%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}

.stat {
  text-align: center;
}

.stat__number {
  font-size: 2.5rem;
  font-weight: 600;
}

.stat__number span {
  color: var(--primary-clr);
}

@media (min-width: 478px) {
  .hero-section {
    height: 700px;
  }

  .hero-section__inner {
    position: relative;
    margin: 0 auto;
  }

  .hero-section__image--mobile {
    position: absolute;
    right: 0;
    top: 300px;
  }

  .stats {
    bottom: -70px;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 670px) {
  .hero-section {
    height: 650px;
  }

  .hero-section__image--mobile {
    max-width: 370px;
    top: 150px;
  }

  .stats {
    bottom: -70px;
  }
}

@media (min-width: 768px) {
  .hero-section {
    height: 650px;
  }

  .hero-section__inner {
    max-width: 768px;
    padding-left: 20px;
  }

  .hero-text {
    max-width: 350px;
    gap: 20px;
    position: relative;
    top: 50px;
  }

  .hero-text__heading {
    font-size: 2.7rem;
    line-height: 50px;
  }

  .hero-text__caption {
    font-size: 1.2rem;
  }

  .getstarted-btn {
    font-size: 1.3rem;
  }

  .hero-section__image--mobile {
    top: 140px;
    max-width: 370px;
  }

  .stats {
    bottom: -70px;
  }
}

@media (min-width: 1024px) {
  .hero-section {
    height: 730px;
  }

  .hero-section__inner {
    max-width: 1100px;
    padding-left: 20px;
    width: 97%;
    padding-left: 0;
    padding-right: 0;
    top: 100px;
  }

  .hero-section__image--mobile {
    display: none;
  }

  .hero-text {
    top: 30px;
    gap: 25px;
    max-width: 490px;
  }

  .hero-text__heading {
    font-size: 3.95rem;
    line-height: 75px;
  }

  .hero-text__caption {
    font-size: 1rem;
  }

  .getstarted-btn {
    font-size: 1.15rem;
  }

  .hero-section__image--desktop {
    display: inline-block;
    max-width: 440px;
    position: absolute;
    top: 40px;
    right: 0;
  }

  .stats {
    bottom: -60px;
    max-width: 1100px;
  }
}

@media (min-width: 1400px) {
  .hero-section {
    height: 870px;
  }

  .hero-section__inner {
    max-width: 1250px;
  }

  .hero-text {
    max-width: 600px;
  }

  .hero-text__heading {
    font-size: 4.4rem;
  }

  .hero-text__caption {
    font-size: 1.2rem;
  }

  .getstarted-btn {
    font-size: 1.2rem;
  }

  .hero-section__image--desktop {
    max-width: none;
    width: 550px;
    right: -70px;
  }

  .stats {
    bottom: -70px;
    max-width: 1250px;
    justify-content: space-around;
  }

  .stat__number {
    font-size: 3rem;
  }

  .stat__label {
    font-size: 1.2rem;
  }
}

/* -------------------- ABOUT SECTION -------------------- */
.about-section {
  height: 800px;
}

.about-section__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  max-width: 1200px;
  margin: 340px auto 0 auto;
}

.about-section__image {
  max-width: 300px;
}

.about-text {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  max-width: 474px;
}

.about-text__subtitle {
  font-size: 2rem;
}

@media (min-width: 478px) {
  .about-section__inner {
    margin-top: 90px;
  }

  .about-text {
    text-align: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .about-section__inner {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .about-text {
    text-align: start;
    align-items: flex-start;
    max-width: 370px;
    gap: 20;
  }
}

@media (min-width: 1024px) {
  .about-section__image {
    max-width: 450px;
  }

  .about-text {
    max-width: 450px;
  }

  .about-text__subtitle {
    font-size: 2.3rem;
  }

  .about-text__caption {
    font-size: 1rem;
  }

  .about-section__inner {
    max-width: 1100px;
  }
}

@media (min-width: 1400px) {
  .about-section__image {
    max-width: 500px;
  }

  .about-section__inner {
    max-width: 1300px;
    margin-top: 120px;
  }

  .about-text {
    max-width: 550px;
  }

  .about-text__subtitle {
    font-size: 2.3rem;
  }

  .about-text__caption {
    font-size: 1.2rem;
  }
}
